<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dbms.mapper.DbmsMapper">

	<!-- 모든 스키마 불러오기 -->
	<select id="allSchemas" resultType="TreeDTO">
		SELECT 'SCHEMA' AS ID,
		USERNAME AS TEXT,
		'tree-schema' AS iconCls
		FROM ALL_USERS ORDER BY
		USERNAME;
	</select>

	<!-- 스키마 항목들 불러오기 -->
	<select id="schemaInfoTable" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'TABLE';
	</select>
	<select id="schemaInfoView" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'VIEW';
	</select>
	<select id="schemaInfoSynonym" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'SYNONYM';
	</select>
	<select id="schemaInfoFunction" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'FUNCTION';
	</select>
	<select id="schemaInfoProcedure" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'PROCEDURE';
	</select>
	<select id="schemaInfoPackage" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'PACKAGE';
	</select>
	<select id="schemaInfoType" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'TYPE';
	</select>
	<select id="schemaInfoTrigger" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'TRIGGER';
	</select>
	<select id="schemaInfoIndex" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'INDEX';
	</select>
	<select id="schemaInfoSequence" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'SEQUENCE';
	</select>
	<select id="schemaInfoDbLink" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'DBLINK';
	</select>
	<select id="schemaInfoMView" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'MVIEW';
	</select>
	<select id="schemaInfoMViewLog" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'MVIEWLOG';
	</select>
	<select id="schemaInfoJob" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'JOB';
	</select>
	<select id="schemaInfoLibrary" resultType="int"
		parameterType="String">
		select count(*) from all_objects where owner = #{value}
		and object_type = 'LIBRARY';
	</select>

	<!-- 오브젝트 불러오기 -->
	<select id="objectInfo" parameterType="ObjectDTO"
		resultType="TreeDTO">
		select object_type AS ID, object_name AS TEXT, 'tree-table'
		AS iconCls from
		all_objects where owner = #{id} and
		object_type =
		#{object};
	</select>

	<!-- 테이블 정보 불러오기 -->
	<select id="loadObjectTable" parameterType="LoadObjectDTO"
		resultType="java.util.LinkedHashMap">
		select * from ${schema}.${objectName};
	</select>

	<!-- 테이블 컬럼 검색 -->
	<select id="selectTableColumns" parameterType="LoadObjectDTO"
		resultType="java.util.LinkedHashMap">
		select OWNER, TABLE_NAME, COLUMN_NAME, DATA_TYPE,
		DATA_LENGTH from all_tab_columns where table_name =
		#{objectName} and
		owner = #{schema};
	</select>

	<!-- 테이블 인덱스 검색 -->
	<select id="selectTableIndex" parameterType="loadObjectDTO"
		resultType="java.util.LinkedHashMap">
		select * from all_ind_columns where index_owner = #{schema}
		and table_name = #{objectName};
	</select>

	<!-- 테이블 제약 검색 -->
	<select id="selectTableConstraint" parameterType="loadObjectDTO"
		resultType="java.util.LinkedHashMap">
		select * from all_cons_columns where owner = #{schema}
		and
		table_name = #{objectName};
	</select>

	<!-- 현재 접속중인 유저 검색 -->
	<select id="currentUser" parameterType="String"
		resultType="String">
		select user from dual;
	</select>

</mapper>